# Environment & Credentials
.env
credentials.json
token.json

# Python
__pycache__/
*.pyc
venv/

# PyInstaller
/execution/build/
/execution/dist/
/build/
/dist/
*.spec

# Temporary files
.tmp/
*.webm

# OS
.DS_Store
